name: Assemble Debug Project

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

concurrency:
  # Support push/pr as event types with different behaviors each:
  # 1. push: queue up builds by branch
  # 2. pr: only allow one run per PR
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.event.pull_request.number || github.ref_name }}
  # If there is already a workflow running for the same pull request, cancel it
  # For non-PR triggers queue up builds
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build_sdk:
    runs-on: ubuntu-latest
    steps:
#      - uses: actions/checkout@v3
#      - name: Cache Gradle
#        uses: actions/cache@v3
#        with:
#          path: |
#            ~/.gradle/caches
#            ~/.gradle/wrapper
#          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
#          restore-keys: |
#            ${{ runner.os }}-gradle-

      - name: Assemble Debug Project
        env:
          WC_CLOUD_PROJECT_ID: ${{ secrets.WC_CLOUD_PROJECT_ID }}
        run: ./gradlew assembleDebug -x :sign:wallet:assembleDebug -x :samples:wallet:assembleDebug -x :samples:dapp:assembleDebug -x :sign:dapp:assembleDebug -x :auth:requester:assembleDebug -x :auth:responder:assembleDebug -x :chat:sample:assembleDebug

      - name: Stop Gradle
        run: ./gradlew --stop