name: DB Migration Verification

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master

concurrency:
  # Support push/pr as event types with different behaviors each:
  # 1. push: queue up builds by branch
  # 2. pr: only allow one run per PR
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.event.pull_request.number || github.ref_name }}
  # If there is already a workflow running for the same pull request, cancel it
  # For non-PR triggers queue up builds
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  db_migration_verification:
    strategy:
      matrix:
        conf: [
          { name: Android-Core SDK, command: ":androidCore:sdk:verifyDebugAndroidCoreDatabaseMigration" },
          { name: Sign SDK, command: ":sign:sdk:verifyDebugSignDatabaseMigration" },
          { name: Auth SDK, command: ":auth:sdk:verifyDebugAuthDatabaseMigration" },
          { name: Chat SDK, command: ":chat:sdk:verifyDebugChatDatabaseMigration" },
          { name: Push SDK, command: ":push:sdk:verifyDebugPushDatabaseMigration" },
        ]
    name: ${{ matrix.conf.name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Sdk Migration Verification
        env:
          WC_CLOUD_PROJECT_ID: ${{ secrets.WC_CLOUD_PROJECT_ID }}
        run: ./gradlew ${{ matrix.conf.command }}

      - name: Stop Gradle
        run: ./gradlew --stop