name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - develop
      - master

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          architecture: x86_64
          cache: gradle
      # Not support for Android atm - https://youtrack.jetbrains.com/issue/QD-7909/Code-Coverage-in-Qodana-for-Android
      #      - name: 'Create Kover Report'
      #        run: ./gradlew :core:android:koverBinaryReportRelease
      #      - name: 'Move Code Coverage Report'
      #        run: |
      #          mkdir -p .qodana/code-coverage
      #          mv core/android/build/kover/bin-reports/* .qodana/code-coverage
      #      - name: 'Archive coverage data'  # Archive data for using by Qodana
      #        uses: actions/upload-artifact@v2
      #        with:
      #          name: testReleaseUnitTest.ic
      #          path: .qodana/code-coverage
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@main
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          args: "--linter,jetbrains/qodana-jvm-android:2023.2"
          pr-mode: false